*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 250px;
    background-image: url('img/img_logo\ \(2\).png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFD9DE;
}